package ${config.basePackageName}.param.${moduleName};

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.*;
import org.example.framework.common.PojoDuplicate;

#if(${hasBigDecimal})
#end
#if(${hasLocalDateTime})
#end
#if(${hasLocalDate})
#end
#if(${hasLocalTime})
#end

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Getter
@Setter
@Builder
@ToString
@NoArgsConstructor
@AllArgsConstructor
@ApiModel(value = "${moduleName}.${className}QueryParam", description = "${comments}")
public class ${className}QueryParam implements PojoDuplicate {

    private static final long serialVersionUID = 1L;

    @ApiModelProperty(value = "当前页码", example = "1")
    private int pageIndex = 1;

    @ApiModelProperty(value = "每页数量", example = "20")
    private int pageSize = 20;

#foreach ($column in $columns)
#if($column.columnName != $pk.columnName && $column.columnName != 'tenant_id' && $column.columnName != 'path_ids' && $column.columnName != 'deleted' && $column.columnName != 'create_time' && $column.columnName != 'creator_id' && $column.columnName != 'creator_name' && $column.columnName != 'modify_time' && $column.columnName != 'modifier_id' && $column.columnName != 'modifier_name')
    /**
     * $column.comments
     */
#if($column.dataType == 'datetime' || $column.dataType == 'timestamp')
    @ApiModelProperty(value = "$column.comments", example = "2019-01-01 09:01:01")
#elseif($column.dataType == 'time')
    @ApiModelProperty(value = "$column.comments", example = "09:01:01")
#elseif($column.dataType == 'date')
    @ApiModelProperty(value = "$column.comments", example = "2019-01-01")
#else
    @ApiModelProperty(value = "$column.comments")
#end
    private $column.attrType $column.attrname;

#end
#end
}
