package ${config.basePackageName}.service.${moduleName};

import ${config.basePackageName}.entity.${moduleName}.${className}Entity;
import ${config.basePackageName}.param.${moduleName}.${className}QueryParam;
import ${config.basePackageName}.param.${moduleName}.${className}CreateParam;
import ${config.basePackageName}.param.${moduleName}.${className}UpdateParam;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.IService;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {

	IPage<${className}Entity> page(${className}QueryParam param);

	${className}Entity create(${className}CreateParam param);

	${className}Entity update(${className}UpdateParam param);
}

