package ${config.basePackageName}.service.${moduleName}.impl;

import org.example.framework.common.exception.BusinessException;
import ${config.basePackageName}.service.${moduleName}.${className}Service;
import ${config.basePackageName}.entity.${moduleName}.${className}Entity;
import ${config.basePackageName}.param.${moduleName}.${className}QueryParam;
import ${config.basePackageName}.param.${moduleName}.${className}CreateParam;
import ${config.basePackageName}.param.${moduleName}.${className}UpdateParam;
import ${config.basePackageName}.mapper.${moduleName}.${className}Mapper;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service("${moduleName}.${classname}Service")
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}Entity> implements ${className}Service {

	@Override
	public IPage<${className}Entity> page(${className}QueryParam param) {
		IPage<${className}Entity> page = new Page<>(param.getPageIndex(), param.getPageSize());
		${className}Entity entity = new ${className}Entity();
		param.copyPropertiesTo(entity, false);
		QueryWrapper<${className}Entity> wrapper = Wrappers.query(entity);

		return page(page, wrapper);
	}


	@Override
	public ${className}Entity create(${className}CreateParam param) {
		${className}Entity entity = new ${className}Entity();
		param.copyPropertiesTo(entity, false);

		boolean f = save(entity);

		if (!f) {
			throw new BusinessException("创建失败");
		}

		return entity;
	}

	@Override
	public ${className}Entity update(${className}UpdateParam param) {
		${className}Entity entity = getById(param.getId());
		if (entity == null) {
			throw new BusinessException("未查询到此对象");
		}

		param.copyPropertiesTo(entity, false);
		boolean f = updateById(entity);

		if (!f) {
			throw new BusinessException("修改失败");
		}

		return entity;
	}
}
